<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title></title>
  </head>
  <body>


<h1>Coder's Block</h1>
<h3>Confessions of a Developing Developer</h3>

<%= link_to 'New Blog', "blogs/new" %>

<% @blogs.each do |blog| %>
<div class="blog">

  <h3>Title:</h3>
    <p class="name"><%= blog.name %></p>

  <h3>Framework(s):</h3>
    <p class="framework"><%= blog.framework %></p>
    <p class="message"><%= blog.message %></p>
  <p class="time"><%= blog.created_at %></p>
</div>


<%= link_to "Bye Blog", blog_path(blog), :method => :delete%>
<%= link_to 'Edit Blog', edit_blog_path(blog) %>
<% end %>

</body>
</html>
