<h1>Blogs#new</h1>
<p>Find me in app/views/blogs/new.html.erb</p>
<%= form_for(@blog) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %><br />
    <%= f.label :framework %><br />
    <%= f.text_area :framework %><br />
    <%= f.label :message %><br />
    <%= f.text_area :message %><br />
  </div>
  <div class="actions">
    <%= f.submit "Bloggin' my Bugs  away" %>
  </div>
  <%= link_to 'Let me rethink that... back to the Blogs', "/blogs" %>
<% end %>
